
{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>Welcome to  Quiz web app</h1>

<div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>

 <form method='post' action=''>
    {% csrf_token %}
    {% for q in questions %}
    <div class="form-group">
      <label for="question">{{q.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
                {{q.op1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
                {{q.op2}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
            <label class="form-check-label" for="gridRadios1">
                {{q.op3}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
            <label class="form-check-label" for="gridRadios2">
                {{q.op4}}
            </label>
        </div>
        <br>
    </div>    
    {% endfor %}
    <input id='timer' type='hidden' name="timer" value="">
    <div style="display: flex; justify-content: center; align-items: center; ">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

     <div>    
       <button  type  = "button" id="next" class="btn btn-primary">Next  </button>
       <button  type  = "button" id="previous"  class="btn btn-primary">Previous</button>
     </div>

    {% block script %}
        <script>

            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)

          
            
  var counter = 1;
  var questions = {{ questions|length }};
  var formGroups = document.getElementsByClassName("form-group");
  formGroups[0].style.display = "block";

  document.getElementById("next").addEventListener("click", () =>
  {
    formGroups[counter-1].style.display = "none";
    counter += 1;
    formGroups[counter-1].style.display = "block";
    document.getElementById("previous").style.display = "inline";
    if (counter == questions) {
        document.getElementById("next").style.display = "none";
    }
  });

  document.getElementById("previous").addEventListener("click", function() {
    formGroups[counter-1].style.display = "none";
    counter -= 1;
    formGroups[counter-1].style.display = "block";
    document.getElementById("next").style.display = "inline";
    if (counter == 1) {
        document.getElementById("previous").style.display = "none";
    }
  });



        </script>
    {% endblock script %}

</div>
{% endblock %}
 
