
{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>Welcome to  Quiz web app</h1>

<div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>

 <form method='post' action=''>
    {% csrf_token %}
    {% for q in questions%}
    <div class="form-group">
      <label for="question">{{q.question}}</label>
          <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
                {{q.op1}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
                {{q.op2}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
            <label class="form-check-label" for="gridRadios1">
                {{q.op3}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
            <label class="form-check-label" for="gridRadios2">
                {{q.op4}}
            </label>
        </div>
        <br>
           </div>    
    
         <input id='timer' type='hidden' name="timer" value="">
          <div style="display: flex; justify-content: center; align-items: center; ">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

  </div>        
  {% endfor %}
</form>

  <div>    
    <div class="next_btn" >
        <button  type  ="button" id="next" style="background:#007bff;color:#fff;" >Next  </button>
    </div>
    <div class="pre_btn">
        <br>
        <button  type  ="button" id="previous" style="background:#007bff;color:#fff;" >Previous</button>
    </div>
  </div>
    {% block script %}
        <script>

            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)

          
            
  var counter = 0;
 
  var questions = {{ questions | length }};

  console.log(questions);

  var option = document.getElementById("gridRadios1");

  var formGroups = document.getElementsByClassName("form-group");
  
  formGroups[counter].style.display = "block";
  formGroups[1].style.display = "none";
  formGroups[2].style.display = "none";
  formGroups[3].style.display = "none";
  formGroups[4].style.display = "none";
 
 

  document.getElementById("next").addEventListener("click", () => {
    if (counter < questions - 1) {
      formGroups[counter].style.display = "none";
      counter += 1;
      formGroups[counter].style.display = "block";

      document.getElementsByClassName("pre_btn").style.display = "inline";

      if (counter == questions - 1) {
        document.getElementsByClassName("next_btn").style.display = "none";
      }
    }
  });


  document.getElementById("previous").addEventListener("click", function() {
    if (counter > 0) {
      formGroups[counter].style.display = "none";
      counter -= 1;
      formGroups[counter].style.display = "block";

      document.getElementsByClassName("next_btn").style.display = "inline";

      if (counter == 0) {
        document.getElementsByClassName("pre_btn").style.display = "none";
      }
    }
  });


        </script>
    {% endblock script %}

</div>
{% endblock %}
 
